nav { 
    @apply py-2 
    flex justify-center
    h-fit;
}
nav .nav-logo {
    @apply 
    relative;
}

nav .nav-logo span {
    @include gorillaz-title;
}
nav .nav-logo span {
    @apply text-7xl
    text-gray-900 relative;
    font-family: 'gorillaz';
}

