.player__visualizer {
    position: absolute;
    bottom: top;
    left: 0;
    right: 0;
    height: 100px;
    width: 40px;
    background-color: #000;
    z-index: 1;
   
}
.player__visualizer__db {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
}