.song-row {
    @apply
    rounded-xl
    mb-2
    h-14    
    p-1
    bg-transparent
    ;
}
.song-row:hover {
    @apply bg-opacity-20 bg-primary-transparent
    ;
}

.song-row__content {
    @apply
    flex
    flex-row
    items-center
    h-full
    justify-between
    text-lg
    font-semibold
    ;
}
.song-row__cover {
    @apply
    h-full
    ;
}
.song-row__cover--image {
    @apply
    object-contain
    h-full
    ;
}
.song-row__infos {
    @apply
    w-full
    px-2;
}